@import "tailwindcss";

:root {
  --primary: #0e1902;
}

@theme linear {
  --color-primary: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  min-height: 100vh;

  background: var(--primary);
  color: white;
}

a,
button {
  cursor: pointer;
}
